
@import 'admin_navbar.scss';
@import 'about.scss';
@import 'footer.scss';

@import 'homePage.scss';
@import 'call-section.scss';
@import 'login.scss';
@import 'rooms.scss';
@import 'contact.scss';
@import 'buttons.scss';





@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.flatpickr-calendar{
    background-color: F7F6DC;
    color: aliceblue;
    user-select: none;

}
.flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover{
 
    color: #333;
    background-color: rgb(241, 218, 155);
}

.taken {
    display: none;

}
*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x:hidden;

}